.search_result_container {
  width: 100%;
  text-align: center;
}

.search_result_box {
  box-sizing: border-box;
  width: 19%;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0 1% 10px 1%;
  display: inline-block;
  color: rgb(24, 85, 54);
  font-weight: 500;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.result_image {
  max-width: 100%;
  max-height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
